$fontFamily: 'Roboto', sans-serif;

$bgdark: #141414;
$greyLight: #808080;
$textPrimary: #a1a1a1;
$btntext: #333;
$border: #242424;
$shimmer: #262626;
$boxShadowCard: 0.25rem 0.25rem 1.5rem 0.5rem #060000;
$white: #fff;

$containerPaddingMobile: 1rem;
$containerPaddingDesktop: 3rem;
