header {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  background: $bgdark;
  z-index: 10;
  @include mobile {
    padding: 1rem 0;
  }
  nav {
    display: flex;
    align-items: center;
    .applogo {
      width: 120px;
      height: auto;
      display: flex;
      margin-right: 2rem;
      @include mobile {
        width: 90px;
      }
      svg {
        width: 100%;
        height: auto;
      }
    }
    ul {
      margin: 0 auto 0 0;
      padding: 0;
      list-style: none;
      display: flex;
      li {
        margin-left: 1.5rem;
        a,
        span {
          color: $greyLight;
          text-decoration: none;
          transition: color 0.4s;
          font-weight: 400;
          font-size: 1rem;

          &:hover {
            color: $white;
          }
          &.router-link-exact-active {
            color: $white;
          }
        }
      }
    }
  }
}
